

@media min-width 960px {
	.front .sidebar-second .region-sidebar-second
	{
		float:left;
		margin-left:70%;
		margin-right:-100%;
		width:30%;
	}
	
	.front .sidebar-second #content
	{
		margin-right:-65%;
		width:65%;
	}
}

@media max-width 800px {
	div.masthead-txt-main
	{
		display:none;
		font-size:30px;
		line-height:55px;
	}
	
	div.masthead-txt-secondary
	{
		display:none;
	}
	
	.welcome-masthead
	{
		background-size:725px auto;
		height:315px;
	}
	
	div.masthead-txt-box
	{
		height:100px;
		padding-top:0;
		top:150px;
		width:100%;
	}
	
	div.masthead-button
	{
		top:275px;
	}
	
	div.masthead-button a
	{
		font-size:15px;
		padding:15px;
	}
	
	#focus-area-education,#focus-area-income,#focus-area-health
	{
		float:none;
		margin-bottom:50px;
		width:100%;
	}
	
	.sidebar-second .region-sidebar-second
	{
		float:none;
		margin-left:0;
		margin-right:0;
		width:100%;
	}
	
	.sidebar-second #content
	{
		float:none;
		margin-left:0;
		margin-right:0;
		width:100%;
	}
	
	.gav-box
	{
		float:none;
		margin:1% 1% 20px;
		width:100%;
	}
	
	.display-box-content
	{
		float:none;
		height:auto;
		margin-bottom:30px;
		width:100%;
	}
	
	.front .header #logo,.header #logo
	{
		left:0;
		top:0;
	}
	
	#logo
	{
		width:100%;
	}
	
	.header__logo-image
	{
		max-width:600px;
		width:100%;
	}
	
	#secondary-menu
	{
		display:none;
	}
	}
	
	
/* iPhone / mobile webkit */
@media screen and (max-device-width: 480px) {
.masthead-image
{
width: 750px;
height: 400px;
background-size: 750px 400px;; 
min-width: 100%;
background-attachment: scroll;
width: 750px;
height: 400px;
}

nav#main-menu {
position: fixed !important;
top: 0px !important;
}

.front #main-menu a {
font-size: 19px;
}

.front .header #logo
{
top: 335px;
}

.front .header #secondary-menu
{
top: 85px;
}

div.masthead-small-text
{
display:none;
}

}



@media only screen 
and (max-width : 999px)
{
.front #main-menu ul.links
{
top: -60px;
}

.front #main-menu ul.links.inline
{

line-height: 35px;
}

.front #main-menu ul.links.inline
{
min-width: 750px;
}

.swiper-container, .swiper-slide {
height: 450px;
}

.large-3

{

width: 45%;
}


.swiper-container, .swiper-slide {
width: 100%;
height: 450px;
}

.front #main-menu a {
font-size: 21px;
}


nav#main-menu {
position: fixed !important;
top: 0px !important;
}

.front #main-menu a {
font-size: 19px;
}

.front .header #logo
{
top: 320px;
}

.masthead-image
{
top:50px;
}

.front .header #secondary-menu
{
top: 85px;
}

div.masthead-small-text
{
display:none;
}

.masthead-image {
top: 50px;
position: relative;
}

.front #header 
{
margin-bottom: 50px;
}

}


@media screen and (min-width: 200px) and (max-width: 850px) {
.fixed-logo {
position: fixed !important;
top: 0px !important;
left: 0px !important;
}
}

@media only screen and (max-width: 999px)
.masthead-image {
  top: 0px;
}


@media only screen and (max-width: 999px)
.front .header #secondary-menu {
  top: 0px;
}

